{% extends "base.html" %}

{% block content %}
<div class="container" style="max-width: 800px; margin: 30px auto;">
    <h2>{{ _('Impressum') }}</h2>
    <hr style="margin-bottom: 20px; border: 0; border-top: 1px solid #ccc;">

    <h5>{{ _('Angaben gemäß § 5 DDG') }}</h5>
    <p>
        <strong>Farzaneh Soghani</strong><br>
        Eulenkamp 48A<br>
        22049 Hamburg<br>
        Deutschland
    </p>

    <h5 style="margin-top: 20px;">{{ _('Kontakt') }}</h5>
    <p>
        {{ _('E-Mail') }}: flowline.support@gmail.com
    </p>

    <h5 style="margin-top: 20px;">{{ _('Redaktionell verantwortlich') }}</h5>
    <p>
        Farzaneh Soghani<br>
        Eulenkamp 48A<br>
        22049 Hamburg<br>
        Deutschland
    </p>

    <h5 style="margin-top: 20px;">{{ _('Haftungsausschluss (Disclaimer)') }}</h5>
    <h6>{{ _('Haftung für Inhalte') }}</h6>
    <p style="font-size: 0.85em; color: #2e2e2e;">
        {{ _('Als Diensteanbieter sind wir gemäß § 7 Abs.1 DDG für eigene Inhalte auf diesen Seiten nach den allgemeinen Gesetzen verantwortlich. Nach §§ 8 bis 10 DDG sind wir als Diensteanbieter jedoch nicht verpflichtet, übermittelte oder gespeicherte fremde Informationen zu überwachen oder nach Umständen zu forschen, die auf eine rechtswidrige Tätigkeit hinweisen.') }}
    </p>

    <h6>{{ _('Haftung für Links') }}</h6>
    <p style="font-size: 0.85em; color: #2e2e2e;">
        {{ _('Unser Angebot enthält Links zu externen Websites Dritter, auf deren Inhalte wir keinen Einfluss haben. Deshalb können wir für diese fremden Inhalte auch keine Gewähr übernehmen.') }}
    </p>
</div>
{% endblock %}